 ### 4.10 TASK PART 1A ###

 ## 1. Import data ## 
2. Address PII data in the dataframe ## 
3. Regional segmentatio ## n
4. Exclusion flag for low-activity customizations

 ## 1. Import data

 # Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

 # Create path to main folder

In [3]:
path = r'C:\Users\João Pedro\MAR-Instacart Basket Analysis'

In [4]:
path

'C:\\Users\\João Pedro\\MAR-Instacart Basket Analysis'

 # Import data set

In [7]:
df = pd.read_pickle(os.path.join(path,'02 Data' ,'Prepared Data' , 'orders_products_merged_derived_2.pkl'))

 # Check output

In [8]:
df.head()

,user_id,product_id,product_name,aisle_id,department_id,prices,order_id,order_number,orders_day_of_week,order_hour_of_day,...,first_name,surname,gender,State,age,date_joined,dependants,family_status,income,exist
0,138,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,28,6,11,...,Charles,Cox,Male,Minnesota,81,2019-08-01,1,married,49620,both
1,138,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,30,6,17,...,Charles,Cox,Male,Minnesota,81,2019-08-01,1,married,49620,both
2,138,907,Premium Sliced Bacon,106,12,20.0,3160996,1,5,13,...,Charles,Cox,Male,Minnesota,81,2019-08-01,1,married,49620,both
3,138,907,Premium Sliced Bacon,106,12,20.0,2254091,10,5,14,...,Charles,Cox,Male,Minnesota,81,2019-08-01,1,married,49620,both
4,138,1000,Apricots,18,10,12.9,505689,9,6,12,...,Charles,Cox,Male,Minnesota,81,2019-08-01,1,married,49620,both

In [9]:
df.shape

(32404859, 35)

 ## 2. Address PII data in the dataframe

# The dataset contains what are commonly referred to as personally identifiable information (PII), which can be linked back to an individual. In order to safeguard data privacy, columns containing customers' first names and surnames have been omitted from this dataset. #

# Drop columns 'first_name' & 'surname'

In [10]:
df = df.drop(columns = ['first_name', 'surname'])

# Check output

In [13]:
df.head()

,user_id,product_id,product_name,aisle_id,department_id,prices,order_id,order_number,orders_day_of_week,order_hour_of_day,...,median_days_between_orders,order_frequency,gender,State,age,date_joined,dependants,family_status,income,exist
0,138,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,28,6,11,...,8.0,Frequent customer,Male,Minnesota,81,2019-08-01,1,married,49620,both
1,138,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,30,6,17,...,8.0,Frequent customer,Male,Minnesota,81,2019-08-01,1,married,49620,both
2,138,907,Premium Sliced Bacon,106,12,20.0,3160996,1,5,13,...,8.0,Frequent customer,Male,Minnesota,81,2019-08-01,1,married,49620,both
3,138,907,Premium Sliced Bacon,106,12,20.0,2254091,10,5,14,...,8.0,Frequent customer,Male,Minnesota,81,2019-08-01,1,married,49620,both
4,138,1000,Apricots,18,10,12.9,505689,9,6,12,...,8.0,Frequent customer,Male,Minnesota,81,2019-08-01,1,married,49620,both

In [12]:
df.shape

(32404859, 33)

 ## 3. Regional segmentation

  # Create 'region' column based on 'state' column

In [17]:
result = []

for value in df["State"]:
    if value in ['Maine', 'New Hampshire' , 'Vermont' , 'Massachusetts' , 'Rhode Island' , 'Connecticut' , 'New York' , 'Pennsylvania' , 'New Jersey']:
        result.append("Northeast")
    elif value in ['Wisconsin' , 'Michigan' , 'Illinois' , 'Indiana' , 'Ohio' , 'North Dakota' , 'South Dakota' , 'Nebraska' , 'Kansas' , 'Minnesota' , 
               'Iowa' , 'Missouri']:
        result.append("Midwest")
    elif value in ['Delaware' , 'Maryland' , 'District of Columbia' , 'Virginia' , 'West Virginia' , 'North Carolina' , 'South Carolina' , 'Georgia' ,
               'Florida' , 'Kentucky' , 'Tennessee' , 'Mississippi' , 'Alabama' , 'Oklahoma' , 'Texas' , 'Arkansas' , 'Louisiana']:
        result.append("South")
    else:
        result.append("West")

In [18]:
df['region'] = result

 # Check output

In [19]:
df.head()

,user_id,product_id,product_name,aisle_id,department_id,prices,order_id,order_number,orders_day_of_week,order_hour_of_day,...,order_frequency,gender,State,age,date_joined,dependants,family_status,income,exist,region
0,138,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,28,6,11,...,Frequent customer,Male,Minnesota,81,2019-08-01,1,married,49620,both,Midwest
1,138,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,30,6,17,...,Frequent customer,Male,Minnesota,81,2019-08-01,1,married,49620,both,Midwest
2,138,907,Premium Sliced Bacon,106,12,20.0,3160996,1,5,13,...,Frequent customer,Male,Minnesota,81,2019-08-01,1,married,49620,both,Midwest
3,138,907,Premium Sliced Bacon,106,12,20.0,2254091,10,5,14,...,Frequent customer,Male,Minnesota,81,2019-08-01,1,married,49620,both,Midwest
4,138,1000,Apricots,18,10,12.9,505689,9,6,12,...,Frequent customer,Male,Minnesota,81,2019-08-01,1,married,49620,both,Midwest

 # Determine whether there’s a difference in spending habits between the different U.S. region

# Checking habits across the regions

 # Create a table that holds the absolute numbers of customers in each region

In [20]:
crosstab = pd.crosstab(df['region'], df['spending_flag'], dropna = False)

In [21]:
crosstab

spending_flag  High spender  Low spender
region
Midwest              155975      7441350
Northeast            108225      5614511
South                209691     10582194
West                 160354      8132559

 # crosstab that displays spending habit as percentage of region total

In [22]:
crosstab_percentage = pd.crosstab(df['region'], df['spending_flag'], normalize = 'index')

In [23]:
crosstab_percentage

spending_flag  High spender  Low spender
region
Midwest            0.020530     0.979470
Northeast          0.018911     0.981089
South              0.019430     0.980570
West               0.019336     0.980664

# crosstab that displays proportion of spending  habit of each spender as percentage of total spending habit at Instacart

In [24]:
crosstab_spenders = pd.crosstab(df['region'], df['spending_flag'], normalize = 'columns')

In [25]:
crosstab_spenders

spending_flag  High spender  Low spender
region
Midwest            0.245922     0.234221
Northeast          0.170636     0.176720
South              0.330615     0.333081
West               0.252827     0.255977

# The findings suggest that although the ratio of high spenders to low spenders remains consistent across regions, at approximately 98% to 2%, there are variations in regional proportions when analyzed by spending category. Specifically, 33% of high spenders are located in the South region, followed by the West, Midwest, and Northeast regions in descending order. This distribution pattern is mirrored in the low spending category. #

# Checking the distribution of brand loyalty across regions bh

In [26]:
loyalty_region = pd.crosstab(df['region'], df['loyalty_flag'], normalize = 'columns')

# check output

In [27]:
loyalty_region

loyalty_flag  Loyal customer  New customer  Regular customer
region
Midwest             0.230820      0.235838          0.236256
Northeast           0.179091      0.176203          0.175145
South               0.331176      0.332225          0.334554
West                0.258913      0.255734          0.254045

 ## 4. Exclusion flag for low-activity customers

# Add a column holding exclusion flag

In [28]:
df.loc[df['order_number'] >= 5, 'exclusion_flag'] = 'high activity'

In [29]:
df.loc[df['order_number'] < 5, 'exclusion_flag'] = 'low activity'

# Check output

In [30]:
df['exclusion_flag'].value_counts(dropna = False)

exclusion_flag
high activity    24414877
low activity      7989982
Name: count, dtype: int64

# Order activity/habits based on region

In [31]:
order_region = pd.crosstab(df['region'], df['exclusion_flag'], normalize = 'index')

In [33]:
order_region

exclusion_flag  high activity  low activity
region
Midwest              0.751811      0.248189
Northeast            0.754057      0.245943
South                0.753259      0.246741
West                 0.754712      0.245288

 # Regardless of the region, three out of every four customers place orders at least five times. #

 # order habits/activity based on loyalty

In [34]:
order_habits = pd.crosstab(df['loyalty_flag'], df['exclusion_flag'], normalize = 'index')

In [35]:
order_habits

exclusion_flag    high activity  low activity
loyalty_flag
Loyal customer         0.929153      0.070847
New customer           0.338698      0.661302
Regular customer       0.802717      0.197283

# Most loyal or regular customers are highly active, whereas for new customers, the opposite is understandably true, given their recent introduction to the service.#

# Create dataframe with "high-activity" customers

In [36]:
df_2 = df[df['exclusion_flag'] =='high activity']

# Check output

In [37]:
df_2.shape

(24414877, 35)

# Export the dataframe for next script

In [38]:
df_2.to_pickle(os.path.join(path, '02 Data' , 'Prepared Data' , 'df_part1.pkl' ))